extends ../layout/index

block content
  main(style='max-width: 64rem; margin: auto; margin-top: 5rem;')
    div(style='padding-top: 2rem; text-align: center;')
      h1(style='text-align: center;')
        img(src='https://firebasestorage.googleapis.com/v0/b/funatics-1699583872359.appspot.com/o/imagen_2024-05-22_210857105.png?alt=media&token=081adb15-2a02-4314-973c-9bf67d267b44', style='height:auto; width: 200px; filter: drop-shadow(0 0 0.75rem #1e1e1e);')
    div(style='background-color: #ffffff; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); padding: 2rem; border-radius: 0.5rem; max-width: 28rem; margin: auto; margin-top: 3rem;')
      h1(style='font-size: 24px; margin: 0 0 20px 0; color: #333333; text-align: center; text-shadow: 1px 1px 3px #999999;') Password Updated!
      p(style='font-size: 16px; color: #666666; text-align: center;') Your password has been successfully updated. You can now log in using your new password.
